html
    head
        meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/font-awesome.min.css")
        link(rel="stylesheet", href="../css/pokemon.css")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")

        title #{pokemon['NameEn']}

    body
        include headbar
        div.container#pokemon-data
            div#pokemon-img
                img(src="../image/pokemon_big/#{pokemon['PokemonId']}.png")
                h2 #{pokemon['NameTw']}
                div.sub-title #{pokemon['NameEn']}
            div#link-contain
                - if(pokemon['PokemonId'] != 1)
                    a(href="#{pokemon['PokemonId']-1}")
                        div#prev.link-card
                            span ##{pokemon['PokemonId']-1} #{prev}
                            img(src="../image/pokemon_big/#{pokemon['PokemonId']-1}.png")
                - if(pokemon['PokemonId'] != 151)
                    a(href="#{pokemon['PokemonId']+1}")
                        div#next.link-card
                            span ##{pokemon['PokemonId']+1} #{next}
                            img(src="../image/pokemon_big/#{pokemon['PokemonId']+1}.png")
            hr
            div.row
                div.col-md-6
                    div.panel.panel-success#info
                        div.panel-heading
                            i.fa.fa-comment
                            span 關於
                        div.panel-body
                            p #{pokemon['Flavor']}
                            blockquote.blockquote-reverse
                                a(target="_blank" href="https://wiki.52poke.com/wiki/")
                                    i 神奇寶貝百科
                    div.panel.panel-orange#evo
                        div.panel-heading
                            i.fa.fa-location-arrow
                            span 進化
                        div.panel-body
                            table
                                tr
                                    td
                                        if evolution.length == 0
                                            img(src="../image/pokemon_big/#{pokemon['PokemonId']}.png")
                                        else
                                            - for(i=0;i<evolution['Evolution'].length;i++)
                                                a(href="#{evolution['Evolution'][i]}")
                                                    img(src="../image/pokemon_big/#{evolution['Evolution'][i]}.png")
                                                if(typeof(evolution['Candy'][i]) !== 'undefined')
                                                    span.arrow-contain.gray
                                                        span.candy= evolution['Candy'][i]
                                                        i.fa.fa-long-arrow-right
                    div.panel.panel-default#type
                        div.panel-heading
                            i.fa.fa-shield
                            sapn 屬性
                        div.panel-body
                            table#main-type(align="center")
                                td
                                    span(class="type #{pokemon['Type1']}") #{pokemon['Type1']}
                                    if(pokemon['Type2'] !== '')
                                        span(class="type #{pokemon['Type2']}") #{pokemon['Type2']}
                            table.table.table-bordered#type-chart
                                -for(i=0;i<6;i++)
                                    tr
                                        -for(j=0;j<3;j++)
                                            td
                                                span(class="type-min #{type_map[i*3+j]}") #{type_map[i*3+j]}
                                            case types[i][j]
                                                when -2
                                                    td.stronger
                                                        span.blue 0.64x
                                                when -1
                                                    td.strong 0.8x
                                                when 0
                                                    td -
                                                when 1
                                                    td.weak 1.25x
                                                when 2
                                                    td.weaker
                                                        span.red 1.56x
                            div.explan
                                span.legend.legend-strong
                                span 承受較少的傷害
                            div.explan
                                span.legend.legend-weak
                                span 承受較多的傷害
                div.col-md-6
                    div#base.panel.panel-info
                        div.panel-heading
                            i.fa.fa-bar-chart
                            sapn 基礎數值
                        div.panel-body
                            table.table
                                tr
                                    td 攻擊力
                                    td #{pokemon['BaseAtk']}
                                tr
                                    td 防禦力
                                    td #{pokemon['BaseDef']}
                                tr
                                    td 耐力
                                    td #{pokemon['BaseSta']}
                            table.table
                                tr
                                    td 身高
                                    td= pokemon['Height'].toFixed(2)
                                        span  m
                                tr
                                    td 體重
                                    td= pokemon['Weight'].toFixed(2)
                                        span  kg
                            table.table
                                tr
                                    td 捕獲率
                                    td #{pokemon['CaptureRate']} %
                                tr
                                    td 逃跑率
                                    td #{pokemon['FleeRate']} %
                    div.panel.panel-danger#skill
                        div.panel-heading
                            i.fa.fa-flash
                            span 所有技能
                        div.panel-body
                            p.gray 快速技能
                            table.table
                                thead
                                    th 名稱
                                    th 屬性
                                    th 傷害
                                    th CD
                                    th DPS
                                    th EPS
                                - for(var i = 0; i < quick.length; i++)
                                    tr(class="#{quick[i]['Type']}-bg")
                                        td #{quick[i]['NameTw']}<br/>#{quick[i]['NameEn']}
                                        - if(quick[i]['Type'] == pokemon['Type1'] || quick[i]['Type'] == pokemon['Type2'])
                                            td
                                                span(class="type-min #{quick[i]['Type']}") #{quick[i]['Type']}
                                                span.type-min.stab STAB
                                            td
                                                del.gray #{quick[i]['Damage']}
                                                span(class="#{quick[i]['Type']}-b")
                                                    b
                                                        span #{quick[i]['Damage_STAB']}
                                                        i.fa.fa-level-up
                                            td #{quick[i]['ColdDown']}
                                            td
                                                del.gray #{quick[i]['DPS']}
                                                span(class="#{quick[i]['Type']}-b")
                                                    b
                                                        span #{quick[i]['DPS_STAB']}
                                                        i.fa.fa-level-up
                                        - else
                                            td
                                                span(class="type-min #{quick[i]['Type']}") #{quick[i]['Type']}
                                            td #{quick[i]['Damage']}
                                            td #{quick[i]['ColdDown']}
                                            td #{quick[i]['DPS']}
                                        td #{quick[i]['EPS']}
                            p.gray 主要技能
                            table.table(align="center")
                                thead
                                    th 名稱
                                    th 屬性
                                    th 傷害
                                    th CD
                                    th DPS
                                    th 能量
                                - for(var i = 0; i < charge.length; i++)
                                    tr(class="#{charge[i]['Type']}-bg")
                                        td #{charge[i]['NameTw']}<br/>#{charge[i]['NameEn']}
                                        - if(charge[i]['Type'] == pokemon['Type1'] || charge[i]['Type'] == pokemon['Type2'])
                                            td
                                                span(class="type-min #{charge[i]['Type']}") #{charge[i]['Type']}
                                                span.type-min.stab STAB
                                            td
                                                del.gray #{charge[i]['Damage']}
                                                span(class="#{charge[i]['Type']}-b")
                                                    b
                                                        span #{charge[i]['Damage_STAB']}
                                                        i.fa.fa-level-up
                                            td #{charge[i]['ColdDown']}
                                            td
                                                del.gray #{charge[i]['DPS']}
                                                span(class="#{charge[i]['Type']}-b")
                                                    b
                                                        span #{charge[i]['DPS_STAB']}
                                                        i.fa.fa-level-up
                                        - else
                                            td
                                                span(class="type-min #{charge[i]['Type']}") #{charge[i]['Type']}
                                            td #{charge[i]['Damage']}
                                            td #{charge[i]['ColdDown']}
                                            td #{charge[i]['DPS']}
                                        td
                                            img(src="../image/energy/energy#{charge[i]['Charge']}.png")
