html
    head
        meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/font-awesome.min.css")
        link(rel="stylesheet", href="../css/pokemon.css")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")

        title #{pokemon.NameEn}

    body
        div.container#pokemon-data
            div#pokemon-img
                img(src="../image/pokemon_big/#{pokemon.PokemonId}.png")
                h2 #{pokemon.NameTw}
                div.sub-title #{pokemon.NameEn}
            hr
            div.row
                div.col-md-6
                    div.panel.panel-success#info
                        div.panel-heading
                            i.fa.fa-comment
                            關於
                        div.panel-body
                            p #{pokemon.Flavor}
                            blockquote.blockquote-reverse
                                a(target="_blank" href="https://wiki.52poke.com/wiki/")
                                    i 神奇寶貝百科
                    div.panel.panel-orange#evo
                        div.panel-heading
                            i.fa.fa-location-arrow
                            進化
                        div.panel-body
                            table
                                tr
                                    td
                                        if evolution.length == 0
                                            img(src="../image/pokemon_big/#{pokemon.PokemonId}.png")
                                        else
                                            - for(i=0;i<evolution['Evolution'].length;i++)
                                                a(href="#{evolution['Evolution'][i]}")
                                                    img(src="../image/pokemon_big/#{evolution['Evolution'][i]}.png")
                                                if(typeof(evolution['Candy'][i]) !== 'undefined')
                                                    span.arrow-contain.gray
                                                        span.candy= evolution['Candy'][i]
                                                        i.fa.fa-long-arrow-right
